################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MicroserviceTemplate
/obj
/.vs/ProjectEvaluation
/.vs
/.config
/MSRecordsEngine.csproj.user
/.config
