################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MicroserviceTemplate
/bin
/obj
/.vs/ProjectEvaluation
/.vs
/.config
